#Mon, 13 May 2013 14:32:27 +0100
app.name=Req8

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=56927144-3a56-46c8-859e-38c96872a0f3
